* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-color: #efefef;
    color: #fff;
}

/* Container class */
.container {
    width: 1000px;
    margin: 0 auto;
}

/* Nav bar design starts */
nav {
    width: 100%;
    height: 100px;
    background-color: #2C4F84;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    height: 100px;
}

.items-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-items {
    margin-left: 25px;
}

.nav-items a, .nav-items a:active, .nav-items a:hover .nav-items a:visited {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.brand h1 {
    font-size: 48px;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
}

/* Section border design */
.section-contianer {
    width: 1000px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
} 

.profile-picture-container {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square-container {
    margin: 30px;
    border: 4px solid #2C4F84;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container {
    height: 180px;
    width: 180px;
    border: 4px solid #2C4F84;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container img {
    height: 180px;
    width: 180px;
}

.profile-info-container {
    color: black;
    font-weight: 700;
    margin: 15px;
    font-size: x-large;
    text-transform: uppercase;
}

.profile-info-container h3 {
    font-weight: 400;
    font-size: large;
    padding-top: 8px;
}

.profile-info-container i {
    margin-top: 15px;
    height: 30px;
    width: 25px;
    color: black;
    cursor: pointer;
}

.profile-info-container p {
    margin-top: 10px;
    font-family: Quicksand;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #555555;
    width: 500px;
    text-align: justify;
}

button {
    border: none;
    padding: 7px;
    background-color: #adadad;
    border-radius: 5px;
    margin-right: 3px;
    font-weight: 600;
    cursor: pointer;
}