* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* "Auto-fit" leaves no blank spaces on the page, but "Auto-fill" leaves blank spaces after the elements*/
    grid-template-rows: repeat(5, 1fr);
}