* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px 0 5px 0;
    padding: 5px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px fuchsia;
    font-size: 35px;
}

h1:hover {
    text-decoration: underline;

}

div {
    margin: auto;
    width: 520px;
    border-radius: 5px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: #ccc;
    padding: 25px;
    box-shadow: 1px 1px 10px 10px rgb(151, 151, 151);
    border-radius: 29px;
}

input, select {
    margin: 12px;
    padding: 12px;
    border: 1px solid black;
    width: 95%;
    /* display: inline-block; */
    border-radius: 10px;
    outline: none;
}

.submit {
    background-color: rgb(19, 214, 248);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(0, 150, 250);
}