* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightskyblue;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 15px;
}

.wrapper {
    margin: 30px 40px;
}

h1{
    padding: 7px ;
    text-align: center;
    background-color: transparent;
}

header h1 {
    background-color: royalblue;
}

footer h1 {
    background-color: slateblue;
}

.container {
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.left {
    background-color: darkgoldenrod;
    flex-grow: 1;
    margin: 10px;
}

.center {
    background-color: lightseagreen;
    flex-grow: 4;
    margin: 10px;
}

.right {
    background-color: yellowgreen;
    flex-grow: 1;
    margin: 10px;
}

.left h1, .right h1 {
    margin-top: 50%;
}

.center h1 {
    margin-top: 24%;
}