* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orchid;
}

h2 {
    text-align: center;
    color: blueviolet;
    padding-bottom: 20px;
    text-decoration: underline double;
}

h3 {
    color: purple;
    padding-top: 29px;
    padding-bottom: 15px;
}

.list{
    width: 450px;
    background: #F3B4D3;
    padding: 80px 40px;
    border: 4px solid royalblue;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 20px 0px;
}
    
ul, ol {
    list-style-position: inside;
}

li {
    margin-left: 20px;
}

