* {
    box-sizing: border-box;
    background-color: snow;
    color:whitesmoke;
    font-size: larger;
    font-weight: 600;
}

.container {
    height: 200px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, auto  );
    grid-template-columns: repeat(5, 100px);
    grid-template-areas: "a a b b b"
                         "c d f f f"
                         "e e e e e";

}

.item {
    background-color: #444444;
    border-radius: 5px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
    background-color: #3B5F8A;
    z-index: 2;
}
