* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    background-color:papayawhip;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    justify-content: center;
}


/* Practice 1 (Defining a grid). Link - https://gridbyexample.com/examples/images/example1.png */

/* .item {
    height: 100px;
    width: 100px;
    background-color:#444444;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
} */



/* Practice 3 (Line-based placement shorthand). Link - https://gridbyexample.com/examples/images/example3.png */

.item {
    
}