* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    background-color:papayawhip;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    justify-content: center;
    color: azure;
}

.item {
    height: 100px;
    width: 100px;
    background-color:#444444;
    border-radius: 10px;
    padding: 32%;
}


/* Practice 1 (Defining a grid). Link - https://gridbyexample.com/examples/images/example1.png */

/* .item {
    height: 100px;
    width: 100px;
    background-color:#444444;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
} */



/* Practice 3 (Line-based placement shorthand). Link - https://gridbyexample.com/examples/images/example3.png */

/* .a {
    grid-row: 1/2;
    grid-column: 2/3;
}

.b {
    grid-row: 2/3;
    grid-column: 2/3;
}

.c {
    grid-row: 2/3;
    grid-column: 3/-1;
}

.d {
    grid-row: 1/2;
    grid-column: 1/2;
}

.e {
    grid-row: 2/3;
    grid-column: 1/2;
}

.f {
    grid-column: 3/4;
    grid-row: 1/2;
}  */


/* Practice 4 (Line-based placement with grid-area). Link - https://gridbyexample.com/examples/images/example4.png */

