* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeefae;
}



.box {
    height: 30vw;
    width: 90vw;
    margin: 100px;
    background-color:royalblue;
    position: absolute;
    justify-items: center;
    
}


