* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeefae;
}

.wrapper {
    width: 100vw;
    height: 38vw;
    background: forestgreen;
}

.box {
    width: 90vw;
    height: 30vw;
    margin: 100px;
    background-color:royalblue;
    position: absolute;
}

