* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeefae;
}

.wrapper {
    width: 100%;
    min-height: 1000px;
    background: forestgreen;
    position: relative;
    z-index: 0;
}

.box {
    height: 30vw;
    width: 90vw;
    margin: 100px;
    background-color:royalblue;
    position: absolute;
    justify-items: center;
    
}


