* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: plum;
}

.box {
    height: 50vw;
    width: 60vw;
    background-color: rgb(69, 192, 69);
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.center {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: red;
    position: relative;
    transform: translate(50%, 50%);
}