* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    background-color: bisque;
    font-size: 16px;
    color: blueviolet;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    background: #234;
    display: flex;
    flex-wrap: wrap;
}


.box {
    height: 150px;
    width: 150px;
    
}

.one {
    background-color: coral;
    flex-grow: 1;
}

.two {
    background-color: slateblue;
    flex-grow: 3;

}

.three {
    background-color: cornflowerblue;
    flex-grow: 1;
}

.four {
    background-color: darkcyan;
    flex-grow: 1;

}