* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #aaa;
}

.box {
    width: 70vw;
    height: 20vh;
    display: block;
    margin-top: 20px;
    background: #000;
    position: relative;
    left: 22%;
    
}

.box::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    left: -50px;
    transform: rotate(45deg);
}

.box::after {
    content: "";
    display: block;
    width: 100px;
    height: 20vh;
    background: green;
    position: absolute;
    right: 0px;
}