* {
    box-sizing: border-box; /* It removes the built-in spaces of the html tags */
    margin: 0px;
    padding: 0px;
}
/* The styles written within the *{} will everything within that page*/
body{
    background: darkseagreen;
}

div{
    height: 300px;
    width: 300px;
    background:rgba(215, 186, 238, 0.65);
    text-align: center;
    margin: 50px; 
    /* margin: 0px 0px 50px 50px;*/ 
    /* Rule -  margin: top right bottom left */
    padding: 50px;
    border: 5px solid yellow;
    outline: 7px dotted navajowhite;
    box-sizing: border-box; 
}

/* width = existing width + paddingLeft + paddingRight + borderLeft + borderRight */
/* height = existing height + paddingTop + paddingBottom = borderTop + borderBottom */
